/* font-family: 'Cabin Condensed', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utilies */
a {
  text-decoration: none;
}

.hidden-mobile {
  display: none;
}

/* header */
header {
  position: relative;
}

.nav {
  font-size: 25px;
  position: absolute;
  padding-top: 10px;
  padding-left: 25px;
  color: #272a31;
  z-index: 1;
}

.nav:hover {
  opacity: 0.8;
  color: #ec5242;
}

.visible-desktop {
  display: none;
}

/* First section */
.container {
  font-family: 'Lato', sans-serif;
}

.first {
  text-align: center;
}

.summit-img {
  background: url(../../assets/images/about-websummit.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 300px;
  position: relative;
}

.gradient {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
}

.summit-text {
  position: absolute;
  height: 30%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  top: 5%;
}

.hello {
  color: #ec5242;
  padding-top: 40px;
  font-weight: 400;
}

.title-orange {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Alegreya Sans', sans-serif;
  color: #ec5242;
}

.bordered-description {
  border: 2px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.3);
  color: #3e4044;
  padding: 5px;
  margin: 25px 15px 15px 15px;
  font-size: 10px;
}

.contact {
  font-size: 10px;
  margin: 5px 0;
}

.email {
  font-weight: 700;
  color: #3e4044;
  text-decoration: underline;
  margin-top: 5px;
}

/* Second section */
.second {
  text-align: center;
  font-size: 10px;
  border-bottom: 2px solid #d3d3d38c;
  padding-bottom: 20px;
}

.title {
  padding-top: 20px;
  font-weight: 600;
  font-size: 14px;
}

.description {
  margin: 15px;
}

.brand-border {
  width: max-content;
  margin: 0 auto;
  border: 2px solid #d3d3d38c;
  display: flex;
  padding: 20px 45px;
  color: #272a31;
  font-family: 'Cabin Condensed', sans-serif;
  cursor: pointer;
  font-size: 14px;
}

.logo {
  background: url(../../assets/images/logo-summit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 45px;
  margin-right: 10px;
}

.brand-name-info {
  font-size: 8px;
  color: #3e4044;
  text-decoration: underline;
}

/* Third Section */
.third {
  padding: 15px;
  text-align: center;
  font-size: 10px;
}

.pic-container {
  display: flex;
  flex-wrap: wrap;
}

.pic-container > div {
  margin: 5px;
}

.summit-2019 {
  background: url(../../assets/images/About-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 200px;
  position: relative;
  width: 450px;
}

.summit-2020 {
  background: url(../../assets/images/About-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 200px;
  position: relative;
  width: 450px;
}

.gradient-orange {
  background: #961405b2;
  width: 100%;
  height: 100%;
}

.cover-text {
  position: absolute;
  height: 20%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  top: 40%;
  width: max-content;
  width: 100%;
  padding: 10px 30px;
  color: #fff;
  font-size: 24px;
}

.small-text {
  font-size: 10px;
  margin-top: 5px;
}  

/* Footer */
footer {
  padding: 30px 7%;
  border-top: 2px solid #d3d3d3;
}

.flex-container-footer {
  display: flex;
}

.com-logo {
  width: 80px;
  height: 16px;
  background: url("../../assets/images/logo-summit-03.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 10px;
}

.com-text {
  font-weight: 200;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}









@media only screen and (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }

  .visible-desktop {
    display: block;
    width: 100%;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding: 0;
  }

  .visible-mobile {
    display: block;
  }

  a {
    text-decoration: none;
  }

  /* header */
  .wrapper {
    position: relative;
  }

  .container {
    position: absolute;
    top: 60px;
    width: 100%;
  }

  a:hover {
    opacity: 0.7;
  }

  .top-nav {
    font-size: 10px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .flex-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 7%;
    padding-left: 7%;
  }

  .flex-container a {
    color: #fff;
  }

  .top-nav .flex-container {
    background-color: #3e4044;
    justify-content: right;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .flex-container li {
    margin-right: 20px;
  }

  .bottom-nav {
    position: absolute;
    top: 22px;
    font-size: 12px;
    background-color: #fff;
    width: 100%;
  }

  .bottom-nav .flex-container {
    justify-content: space-between;
  }

  .flex-container-internal {
    display: flex;
    justify-content: right;
    list-style-type: none;
    color: #272a31;
  }

  .red-border {
    border: 3px solid #ec5242;
    padding: 3px;
  }

  #red-border {
    color: #ec5242;
  }

  .flex-container-internal a {
    color: #272a31;
  }

  .brand {
    display: flex;
    padding: 5px 0;
    color: #272a31;
    font-family: 'Cabin Condensed', sans-serif;
    cursor: pointer;
  }

  .logo {
    background: url(../../assets/images/logo-summit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 45px;
    margin-right: 10px;
  }

  /* First section */
  

  .button {
    margin-bottom: 20px;
  }

  .btn {
    font-size: 14px;
  }
}


