/* font-family: 'Cabin Condensed', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utilies */
.orange {
  color: #ec5242;
}

.special-grey {
  color: #d3d3d3;
}

.special-black {
  color: #272a31;
}

/* header */
header {
  padding: 10px;
}

nav {
  font-size: 35px;
}



