/* font-family: 'Cabin Condensed', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utilies */
.orange {
  color: #ec5242;
}

.special-grey {
  color: #d3d3d3;
}

.special-black {
  color: #272a31;
}

/* header */
.first {
  background: #f8f7f7;
}

header {
  position: relative;
}

nav {
  font-size: 35px;
  position: absolute;
  padding-top: 10px;
  padding-left: 25px;
  color: #d3d3d3;
  z-index: 1;
}

/* First page */
.video-container {
  position: relative;
}

.myVideo {
  width: 100%;
}

.myV-src {
  min-width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.text-on-v {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  padding-left: 15px;
}

.myV-title {
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  background: url(../../assets/images/background-text-03.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.position-relative {
  position: relative;
  margin: 15px;
}

.bordered {
  border: 2px solid #fff;
  padding: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.destination {
  padding-bottom: 50px;
}

.date {
  color: #272a31;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

/* Second-section */
.second {
  background: url(../../assets/images/middle-background.jpg);
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.centered-title {
  text-align: center;
  margin-bottom: 35px;
  padding-top: 30px;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr;
  align-items: center;
  width: 95%;
}

.card-name {
  color: #ec5242;
  font-weight: bolder;
}

.card > i {
font-size: 24px;
}

.card-description {
  font-size: 12px;
}

.button {
  margin: 30px 0;
}

.btn {
  background-color: #ec5242;
  color: white;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

/* Third section*/
.third {
  font-family: 'Lato', sans-serif;
  padding: 15px;
}

.third-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
  margin-bottom: 40px;
}

.author-img {
  height: 100px;
  box-shadow: -5px -5px 5px grey;
}

.third-card-text {
  font-size: 12px;
}

.author {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Cabin Condensed', sans-serif;
}

.quote {
  font-style: italic;
  font-weight: 600;
}

.author-info {
  color: #272a31;
  font-family: 'Cabin Condensed', sans-serif;
}

.more-dropdown {
  border: 2px solid #d3d3d3;
  padding: 15px;
  text-align: center;
}

